@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("cover.jpeg");
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #e8e8e8;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #e8e8e8;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.button-xlarge {
  background-color: seagreen;
}

.button-xlarge:hover {
  background-color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

footer a {
  color: #555555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  list-style: none;
  float: right;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well {
  background: #e8e8e8;
  border: solid 1px grey;
  padding-top: 10px;
}

.well a {
  color: seagreen;
}

.chef-info {
  margin-top: 10px;
}
.colormatch a {
  color: red;
}
